 {
    "presets": [
      ["@babel/env", {
        "debug": true,
        "targets": {node: "6"},
	"useBuiltIns": "usage"
      }]
    ],
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }
